---
layout: home
---

<div class="jh-toc-grid">
    Test
    {% for item in site.data.toc %}
        <div class="jh-toc--item jh-toc__{{ item.type }} jh-work--{{ item.class }}" style="background-color: #{{ item.bgc }};">
            <h3 class="jh-work--title">{{ item.work }}</h3>
            <a href="{{ item.url | relative_url }}">Link</a>
            <div class="ps-absolute l0 b0 grid fd-column">
                {% for label in item.labels %}
                <span class="grid--cell work--label work__{{ label.tag }}">{{ label.label }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
