.fs-display3 {
  font-size: 5.16rem !important;
}
.fs-display2 {
  font-size: 4.3rem !important;
}
.fs-display1 {
  font-size: 3.583rem !important;
}
.fs-headline2 {
  font-size: 2.488rem !important;
}
.fs-headline1 {
  font-size: 2.074rem !important;
}
.fs-subheading {
  font-size: 2.074rem !important;
}
.fs-body3 {
  font-size: 1.728rem !important;
}
.fs-body2 {
  font-size: 1.44rem !important;
}
.fs-body1 {
  font-size: 1rem !important;
}
.fs-caption {
  font-size: 0.833rem !important;
}
.fs-fine {
  font-size: 0.694rem !important;
}
.ff-mono {
  font-family: "IBM Plex Mono", monospace !important;
}
.ff-sans {
  font-family: "IBM Plex Sans", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
  line-height: 1.05;
}
.fc-dark {
  color: #020311 !important;
}
.fc-medium {
  color: #3C3D45 !important;
}
.fc-ligjt {
  color: #73747C !important;
}
.fc-purple {
  color: #0027B0;
}
html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.333333333;
}
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
pre,
code {
  font-family: "IBM Plex Mono", monospace;
}
@media screen and (max-width: 640px) {
  .jh-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 2rem 5rem;
  }
}
@media screen and (min-width: 641px) {
  .jh-header {
    position: fixed;
    height: 100%;
    padding-bottom: calc(100vw - 320px);
    padding-left: 16.66666667vw;
  }
}
@media screen and (max-width: 640px) {
  .jh-logo {
    height: 1.5rem;
    margin-left: 5rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 641px) {
  .jh-logo {
    position: absolute;
    top: 6.25rem;
    left: 2.625rem;
    width: 1.5rem;
  }
}
@media screen and (min-width: 641px) {
  .jh-nav {
    position: absolute;
    top: 19.5rem;
    left: 2.625rem;
    width: 1.5rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.jh-nav--menu {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 641px) {
  .jh-nav--menu {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.jh-nav--item {
  padding: 0;
  list-style: none;
}
.jh-nav--link {
  padding: 0.375rem;
  padding-left: 0.565rem;
  border-radius: 0.1875rem;
  background-color: transparent;
  color: #242928;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  letter-spacing: 3px;
}
.jh-nav--link.is-active {
  background-color: #0027B0;
  color: #FFF;
  font-weight: 700;
}
.jh-nav--link.is-active:hover {
  background-color: #001597;
  color: #FFF;
}
.jh-nav--link:hover {
  background-color: rgba(36, 41, 40, 0.05);
  color: #020311;
}
.jh-toc {
  position: absolute;
  width: 100%;
  max-width: 17rem;
  margin-top: 4rem;
  margin-left: -10.625rem;
  border-radius: 0.1875rem;
  background-color: #FAFAFA;
  -webkit-box-shadow: 0 0.25rem 0.75rem 0 rgba(59, 64, 69, 0.1);
  box-shadow: 0 0.25rem 0.75rem 0 rgba(59, 64, 69, 0.1);
}
.jh-toc--header,
.jh-toc--link {
  padding: 0.7rem 1rem;
  color: #020311;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.1875;
}
.jh-toc--header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
.jh-toc--link {
  display: block;
  width: 100%;
  -webkit-transition: all 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 100ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.jh-toc--link.is-active {
  background-color: #FFF;
  -webkit-box-shadow: 4px 0 0 0 #33EFCB;
  box-shadow: 4px 0 0 0 #33EFCB;
}
.jh-toc--link.is-active:hover {
  background-color: #33EFCB;
  -webkit-box-shadow: 4px 0 0 0 #28fae3;
  box-shadow: 4px 0 0 0 #28fae3;
}
.jh-toc--link:hover {
  background-color: rgba(51, 239, 203, 0.1);
  color: #000000;
}
.jh-toc--menu .jh-toc--item:last-of-type .jh-toc--link {
  padding-bottom: 1rem;
}
@media screen and (max-width: 640px) {
  .jh-work--container {
    padding: 0 2rem 2rem;
  }
}
@media screen and (min-width: 641px) {
  .jh-work--container {
    padding: 10rem 16.66666667vw 6rem;
  }
}
.jh-work--preview {
  width: 100%;
  min-width: calc(100% + 2rem);
  min-height: 31rem;
  max-width: 65rem;
  max-height: 37.5rem;
  margin-bottom: 4rem;
  border-radius: 0.375rem;
  background-color: #0027B0;
  -webkit-box-shadow: 0 0 0.75rem 0 rgba(59, 64, 69, 0.1);
  box-shadow: 0 0 0.75rem 0 rgba(59, 64, 69, 0.1);
}
.jh-work--preview__small {
  min-width: auto;
  min-height: 13.625rem;
  max-width: 32rem;
  max-height: 14rem;
  background-color: #FFF;
}
.jh-work--overview {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.work--so-teams {
  background-color: #c5c5c8;
  background-image: linear-gradient(128deg, #DBDBDC, #AEAEB4);
}
.work--so-teams .jh-work--preview__small {
  max-width: calc(50% + 2rem);
  margin-top: -28.33333333%;
  margin-left: -3rem;
}
.jh-site-wrapper {
  position: relative;
  max-width: 92rem;
  margin: 0 auto;
}
@media screen and (min-width: 641px) {
  .jh-menu--nav {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}
.jh-menu--item {
  padding: 4px;
  color: #54595F;
  font-size: 1rem;
}
.jh-menu--item.is-active {
  color: #1F2123;
}
.jh-work--title {
  margin-bottom: 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.488rem;
  font-weight: 700;
}
/*.jh-toc--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #7AA3FF;
    color: #FFF;
}

.jh-toc__primary {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    background-color: #EFF0F1;
}*/
.work--label {
  padding: 8px;
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.work__product {
  background-color: #7BA2FF;
}
.jh-toc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 200px 280px 200px;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
.jh-work--so__teams {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.jh-work--so__stacks {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: span 2;
}
.jh-work--so__brand {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.jh-work--so__se {
  grid-column-start: 4;
  grid-row-start: 2;
}
